# OpenAPI

This AEP describes the usage of OpenAPI within the AEPs and AEP-compliant APIs.

## Guidance

### OAS versions

AEP-compliant APIs **should** document their HTTP APIs using
[version 3.1.x](https://spec.openapis.org/oas/v3.1.1.html) of the OpenAPI
Specification (OAS).

Upon release of new minor versions of the OAS 3 specification, AEP-compliant
APIs **should** update their specification to use these new versions within 12
months of the release of that version.

AEP tooling which is officially supported by the project **must** support OAS
3.1.x.
